<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>di2-android.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 7}, {70, 88}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{70, 88}</string>
			<key>spriteSourceSize</key>
			<string>{80, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{77, 91}, {70, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>die1-android.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 10}, {66, 89}}</string>
			<key>spriteOffset</key>
			<string>{6, -4}</string>
			<key>spriteSize</key>
			<string>{66, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 101}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 0}, {66, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>die3-android.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 23}, {86, 54}}</string>
			<key>spriteOffset</key>
			<string>{-2, -5}</string>
			<key>spriteSize</key>
			<string>{86, 54}</string>
			<key>spriteSourceSize</key>
			<string>{100, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{155, 218}, {86, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>get1-android.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 7}, {73, 71}}</string>
			<key>spriteOffset</key>
			<string>{6, 2}</string>
			<key>spriteSize</key>
			<string>{73, 71}</string>
			<key>spriteSourceSize</key>
			<string>{85, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 247}, {73, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>get2-android.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {72, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{72, 66}</string>
			<key>spriteSourceSize</key>
			<string>{76, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{282, 72}, {72, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>get3-android.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 22}, {66, 58}}</string>
			<key>spriteOffset</key>
			<string>{-4, -4}</string>
			<key>spriteSize</key>
			<string>{66, 58}</string>
			<key>spriteSourceSize</key>
			<string>{78, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{75, 253}, {66, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>head-android.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 1}, {36, 41}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{36, 41}</string>
			<key>spriteSourceSize</key>
			<string>{50, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{243, 220}, {36, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump1-android.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 22}, {94, 62}}</string>
			<key>spriteOffset</key>
			<string>{-2, -7}</string>
			<key>spriteSize</key>
			<string>{94, 62}</string>
			<key>spriteSourceSize</key>
			<string>{98, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{155, 154}, {94, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump2-android.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 14}, {78, 70}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{78, 70}</string>
			<key>spriteSourceSize</key>
			<string>{80, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{75, 181}, {78, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump3-android.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 28}, {71, 65}}</string>
			<key>spriteOffset</key>
			<string>{4, -14}</string>
			<key>spriteSize</key>
			<string>{71, 65}</string>
			<key>spriteSourceSize</key>
			<string>{83, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 0}, {71, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump4-android.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 17}, {75, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{75, 72}</string>
			<key>spriteSourceSize</key>
			<string>{85, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 99}, {75, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump5-android.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {65, 73}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{65, 73}</string>
			<key>spriteSourceSize</key>
			<string>{77, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{215, 0}, {65, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run1-android.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 17}, {57, 70}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{57, 70}</string>
			<key>spriteSourceSize</key>
			<string>{69, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{251, 148}, {57, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run2-android.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 19}, {73, 72}}</string>
			<key>spriteOffset</key>
			<string>{-2, -4}</string>
			<key>spriteSize</key>
			<string>{73, 72}</string>
			<key>spriteSourceSize</key>
			<string>{85, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 173}, {73, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run3-android.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 19}, {66, 70}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{66, 70}</string>
			<key>spriteSourceSize</key>
			<string>{72, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{282, 0}, {66, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run4-android.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 17}, {56, 71}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{56, 71}</string>
			<key>spriteSourceSize</key>
			<string>{68, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{215, 75}, {56, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run5-android.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 24}, {55, 74}}</string>
			<key>spriteOffset</key>
			<string>{10, -7}</string>
			<key>spriteSize</key>
			<string>{55, 74}</string>
			<key>spriteSourceSize</key>
			<string>{75, 108}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 78}, {55, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run6-android.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 24}, {49, 74}}</string>
			<key>spriteOffset</key>
			<string>{10, -4}</string>
			<key>spriteSize</key>
			<string>{49, 74}</string>
			<key>spriteSourceSize</key>
			<string>{85, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 0}, {49, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stand-android.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 1}, {30, 76}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{30, 76}</string>
			<key>spriteSourceSize</key>
			<string>{40, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 0}, {30, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stop-android.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {62, 97}}</string>
			<key>spriteOffset</key>
			<string>{-5, -1}</string>
			<key>spriteSize</key>
			<string>{62, 97}</string>
			<key>spriteSourceSize</key>
			<string>{98, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {62, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>character-android</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>character-android</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>